@import './variables.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-page);
  font-family: var(--font-sans);
  color: var(--color-text-body);
}

